body{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}
h1{
    font-size: 50px;
}
.container{
    display: flex;
    padding: 4%;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.title{
    color: blueviolet;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
    padding: 20px;
}
.btn{
    background-image: linear-gradient(rgb(181, 21, 255), rgb(46, 3, 238));
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    font-weight: 700;
    border-radius: 5px;
}
.btn:hover{
    background-image: linear-gradient(rgb(46, 3, 238), rgb(189, 21, 255));

}
.bg-img{
    background-image: url(../images/mini.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* exp-area */
.exp-area{
    display: flex;
}
.exp-bg{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
}
.common-div{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
    box-shadow: 10px 10px 40px gray;
    padding: 50px;
    border-radius: 5px;
}
.common-paragraph{
    color: rgb(66, 42, 224);
}
#div-1{
    border-left: 5px solid;
    border-image: linear-gradient(blue, rgb(160, 101, 255));
    border-image-slice: 1;
}
#div-2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(217, 0, 255), rgb(48, 9, 110));
    border-image-slice: 1;
}
/* footer  */
h5{
    text-align: center;
}